* {
  box-sizing: border-box;
}

body {
    background-color: #ffd1f7;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  /* You can use an image URL or keep your cute pink! */
  background-color: #ffccff; 
  background-attachment: fixed; /* This is the secret ingredient */
  background-position: center;
  background-size: cover;
}

.nut-in-me-p {
    margin-top: 10000px;
}

h2 {
    margin-top: 10000px
}

img {
  width: 300px;
  height: 200px;
}

.ustink-h1 {
   margin-top: 10000px 
}

.cute-img {
    width: 200px;
    height: 200px;
    margin-top: 10000px
}